body {
    background-image: url("../picture/background_blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

main {
    margin: 5rem;
}

main>form {
    display: flex;
    flex-direction: column;
}

main>form>label {
    text-decoration: underline;
}

main>form>input {
    margin-bottom: 1rem;
}

main>form>input:focus {
    outline-color: orange;
}

main>form>input:valid {
    border: 2px solid green;
}

main>form>input:invalid {
    border: 2px solid red;
}

#username:invalid~#pass:invalid~button {
    border: 2px solid red;
    color: red;
}

#username:valid~#pass:valid~button {
    border: 2px solid green;
    color: green;
}

main>form>button {
    text-decoration: underline;
    border: 2px solid red;
    color: red;
    border-radius: 50%;
    padding: 0.5rem;
    width: fit-content;
    margin: auto;
    outline: transparent solid 0;
}