body {
    align-items:center;
    margin-top: 1rem;
    background: rgb(0,125,255);
    background: linear-gradient(90deg, rgba(0,125,255,1) 0%, rgba(255,255,255,1) 70%);
    font-family: Arial, Helvetica, sans-serif;
}

main>section {
    margin: 20px 0;
}

/* section lits card */
.grid-lits{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.titre-w{
    color: white;
}

.lits-section{
    /* taille */
    width: 200px;
    height: 200px;
    padding-top: 20px;
    /* couleurs */
    color: black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
    background-color:white;
}

/* taille de la police des nombres */
.nbr-lits{
    font-size: 2rem;
}

/* taille de la police des nombres */
.nbr-lits{
    font-size: 4rem;
}

h1 {
    margin: 0;
}
/* fin des css grid */

/* rose : #e3684da6 */

/* formulaire soignants */

.form-dp {
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.register-dp{
    transition:1s;
}
.register-dp:hover{
    border: 1px solid white;
    color: white;
    background-color: #007dff;
}
/* card-list */
.list-card {
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
    display: inline-block;
    background-color:white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 20px;
}
.button-lit-affichage {
    margin-left: 20px;
}