body {
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
}

/* section lits card */
.grid-lits{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.lits-section{
    /* taille */
    width: 200px;
    height: 200px;
    /* couleurs */
    color: white;
    border-radius: 20px;
    background-color: black;
}

/* taille de la police des nombres */
.nbr-lits{
    font-size:40px;
}

/* taille de la police des nombres */
.nbr-lits{
    font-size:80px;
}

h1{
    margin: 0;
}
/* fin des css grid */



/* formulaire soignants */

.form-dp{
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    background-color: #e3684da6;
}
